body {
    background-image: url('../images/background_image\(50-50\).png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front_image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 150px;
}

.text_container{
    text-align: center;
}

.text_container h1{
    font-size: 25px;
}

.details , .projects{
    background-color: #0056b3;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    margin-left: 20px;
}

.details:hover , .projects:hover{
    background-color: #ff6600;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 1000; 
    letter-spacing: 2px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    line-height: 1.6; 
}

.details, .projects {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600; 
    display: inline-block;
    text-decoration: none;
}